.footer{
   
    font-size: large;
    background-color: rgb(12, 19, 31);
    height: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
 .footer h1{
     color: chartreuse;
 }
 .footer h2{
    color: lavender
 }
 .footer h4{
     color: lightgray;
 }