* {
    box-sizing: border-box;
  }
.wrapper{
    margin-top: 6px;
    
margin-left: auto;
margin-right: auto;

width: 100%;


}
.videoplayer{
   
   
    height: auto;
    width: 100%;
}

.playlist{
  
   
    height: 500px;
   overflow-y: scroll;
    scroll-behavior: smooth;
    
  background-color: #d9e2eb;;
   
    border: gray 1px solid;
  
}
.content{
    
    width: 340px;
    font-family:fantasy;
    background-color: rgb(221, 219, 216);
    
    font-size: 30px;
    padding-top: 9px;
    height: 50px;
}

.topic{

    margin-top: 2px;
    width: 340px;
    
    
}

.btn{
    background-color:rgb(193, 206, 211);
    color: black;
    text-align: left;
    font-size: x-large;
    font-family:'Courier New', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: inherit;
        width: 340px;
    border-radius: 10px;
    
}

.description{
    border: 2px gray solid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
 .btn i{
    font-size: 40px;
    color: rgb(13, 23, 114);
}
