<body onbeforeunload="return message()">



  <div class="row wrapper   ">
    <div class="videoplayer col-sm-12  col-lg-8 ">
      <video id="video" style="object-fit: contain; height: 100%;
    width: 100%;" autoplay controls controlsList="nodownload" [src]="source">

      </video>
    </div>

    <div class=" playlist   col-sm-12 col-lg-4  ">
      <div class="content">Content of subject </div>

      <div class="topic">

        <button class="btn btn-dark" (click)="play('Gulabi Ankhe')">
          <i class="fa fa-play-circle"></i>
          Gulabi Ankhe 
         </button>
                
<a href="assets\Notes\Science-and-Technology-Part-1-10th-Marathi-Medium.pdf" download>
  Download Book</a>
</div>

       
      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="fa fa-play-circle"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('costa')">
          <i class="fa fa-play-circle"
          ></i> nature video
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="fa fa-play-circle"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="fa fa-play-circle"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="fa fa-play-circle"></i> Mere mehboob
        </button>

      </div>


      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="	fa fa-play-circle-o"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="	fa fa-play-circle-o"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="	fa fa-play-circle-o"></i> Mere mehboob
        </button>

      </div>
      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="fa fa-play-circle-o"></i> Mere mehboob
        </button>

      </div>


      <div class="topic">
        <button class="btn btn-dark" (click)="play('Mere mehboob')">
          <i class="	fa fa-play-circle-o"></i> Mere mehboob
        </button>

      </div>

      <div class="topic">
        
        <i class="	fa fa-play-circle-o"></i>


      </div>

    </div>


    <div class="description">
      <button class="btn btn-dark" onclick="get()">Continue 
      learning</button>
    </div>
  </div>
</body>