<div class="row wrapper   ">
  <div class="videoplayer col-sm-12  col-lg-8 ">
    <video id="video" style="object-fit: contain; height: 100%;
    width: 100%;" autoplay controls controlsList="nodownload" [src]="source">

    </video>
  </div>

  <div class=" playlist   col-sm-12 col-lg-4  ">
    <div class="content">Content of subject </div>

    <div class="topic">
     
      <button class="btn btn-dark" (click)="play('Gulabi Ankhe')">
        <i class="	fa fa-play-circle-o" ></i>
  Gulabi Ankhe
      </button>
    </div>


    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('costa')">
        <i class="	fa fa-play-circle-o" ></i>  nature video
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i> Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>


    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i>  Mere mehboob
      </button>

    </div>
    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i> Mere mehboob
      </button>

    </div>


    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i> Mere mehboob
      </button>

    </div>

    <div class="topic">
      <button class="btn btn-dark" (click)="play('Mere mehboob')">
        <i class="	fa fa-play-circle-o" ></i> Mere mehboob
      </button>

    </div>

    
    
  </div>
  <div class="description    ">
    
     </div>
</div>