<div class="container  col-sm-12">
  <div class="alert " *ngIf='invalidLogin'>{{errorMessage}}</div>

  


  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

   

    <input type="number" placeholder="Mobile Number"  [(ngModel)] ="Mobile_number"  [ngModelOptions]="{standalone: true}">


    <input type="password" placeholder="Password" [(ngModel)]  ="password"   [ngModelOptions]="{standalone: true}">
     
    <button type="submit" class="btn btn-primary">Login</button>

    <p class="Forget">Forget password<a routerLink="/forget">click here</a></p>
    <p class="Forget">Creat Account<a routerLink="/signup">click here</a></p>


  </form>
  

</div>