*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.alert{
    z-index: 1000;
}

body{
    overflow: hidden;
}

.container{
    z-index: 500;
    display: flex;
    flex-direction: column;
    grid-column: auto;
    min-height: 100vh;
    margin-top: 70px;
    font-size:x-large;
   
    
}

form{
   justify-content: center;
   align-items: center;
    display: flex;
    flex-direction: column;
}

 
 .btn{
     margin-top: 30px;
     margin-left: 30%;
     font-size: x-large;
     height: 40px;
     width: 120px;
     background-color: rgb(14, 109, 218);
     border-radius: 10px;
    
 
 }



  
 input:first-child{
    margin-top: 60px; 
    width: 50%;
    height: 60px;
    padding-left: 5%;
 border-radius: 15px;
}

input{
    
   margin-top: 20px;
    width: 50%;
    height: 60px;
    padding-left: 5%;
 border-radius: 15px;
}

 
