.container{
 margin-top: 60px;
}

.row{
    margin-left: 30%;
    margin-top: 30px;
    
}
.row .col input{
    width: 400px;
    height: 60px;
    
}
 .btn{
     width: 90px;
 }
 .row .col input::placeholder{
     font-size: x-large;
     font-family: 'Courier New', Courier, monospace;
     padding-left: 20px;
 }