body {
    background-color: orange;
  }
  .container{
     display: flex;
     flex-wrap: wrap;
      flex-direction: row;
      column-gap: 40px;
      background: rgb(250, 2, 238);
      
    border: 2px solid  darkolivegreen;
    margin-top: 15px
  }
  .container .item{
      border: 1px solid darkolivegreen;

  }
  
  .container .item:hover{
      transform: translateY(100px);
  }
  h3{
      text-align: center;
  }