body {
    background-color: rgb(36, 26, 7);
  }
  .container{
     display: flex;
     flex-wrap: wrap;
      flex-direction: row;
      column-gap: 40px;
      background: rgb(193, 201, 214);
      
    border: 2px solid  darkolivegreen;
    margin-top: 15px
  }
  .container .item{
      box-shadow: black 20px;
      border: 1px solid rgb(12, 19, 31);
     

  }
  .item img{
      box-shadow: rgb(20, 27, 14)  10px;
      
      width:fit-content;
  }
  
  .container .item:hover{
      transform: translateY(30px);
  }
  h3{
      color: aliceblue;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
  }