body {
    background-color: rgb(36, 26, 7);
  }
  .container{
     display: flex;
     flex-wrap: wrap;
      flex-direction: row;
      column-gap: 40px;
      background: 		#696969;
      
    border: 2px solid  darkolivegreen;
    margin-top: 15px
  }
  .container .item{
      border: 1px solid darkolivegreen;

  }
  
  .container .item:hover{
      transform: translateY(100px);
  }
  h3{
      color: aliceblue;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
  }