
    <main>



        <!-- Gallery -->
        <div class=" tm-gallery">
            <!-- gallery page 1 -->
            <div id="tm-gallery" class="tm-gallery-page">
                <article routerLink="/subject" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    
                        
                            <h4 class="tm-gallery-title">1st Standard</h4>


                        
                </article>
                <article  routerLink="/subject"  class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    
                            <h2 class="tm-gallery-title">2nd Standard</h2>

                        <
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <h2 class="tm-gallery-title">3rd Standard</h2>

                       

                </article>

                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                       <h4 class="tm-gallery-title">4th Standard</h4>

                    
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                         <h4 class="tm-gallery-title">5th standard</h4>

                       
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                          <h4 class="tm-gallery-title">6th Standard</h4>

                      
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                   
                            <h4 class="tm-gallery-title">7th Standard</h4>

                        
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                         <h4 class="tm-gallery-title">8th Standard</h4>

                       
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                      <h4 class="tm-gallery-title">9th Standard</h4>

                        
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                       <h4 class="tm-gallery-title">10th Standard</h4>

                        
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                          <h4 class="tm-gallery-title">11th Standard</h4>

                       
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <h4 class="tm-gallery-title">12th Standard</h4>

                        
                </article>



            </div>
        </div>


    </main>
