/*

Simple House

https://templatemo.com/tm-539-simple-house

*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

ul, nav, body, h1, h2, h4, h6, p, figure {
    margin: 0;
    padding: 0;
  }
  
  a, button { transition: all 0.3s ease; }
  
  /* Bootstrap grid system  */
  
  html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .tm-container-inner,
  .tm-container-inner-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .col-lg-3,
  .col-lg-4,
  .col-lg-6,
  .col-md-4,
  .col-md-6,
  .col-sm-6, 
  .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 576px) {
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    
    .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  /*
    primary: #2D99CC
    success: #319966
    danger: #993332
  */
  
  .tm-btn {
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
  }
  
  .tm-btn-default {
    border: 1px solid #ccc;
    background-color: transparent;
    color: #626364;
  }
  
  .tm-btn-default:hover,
  .tm-btn-default:focus {
    color: white;
    background-color: #98999A;
  }
  
  .tm-btn-primary {
    background-color: #2D99CC;
    color: white;
  }
  
  .tm-btn-primary:hover,
  .tm-btn-primary:focus {
    background-color: #1b6f96;
  }
  
  .tm-btn-success {
    background-color: #319966;
    color: white;
  }
  
  .tm-btn-success:hover,
  .tm-btn-success:focus {
    background-color: #1d6e46;
  }
  
  .tm-btn-danger {
    background-color: #993332;
    color: white;
  }
  
  .tm-btn-danger:hover,
  .tm-btn-danger:focus {
    background-color: #752423;
  }
  
  .tm-mb-45 {
    margin-bottom: 45px;
  }
  
  .tm-mb-p {
      margin-bottom: 20px;
  }
  
  .tm-text-success {
    color: #319966;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none !important;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  body {
    
    font-size: 17px;
    background-color: #ccc;
    overflow-x: hidden;
  }
  
  .container {
    
    background-color: rgb(236, 236, 236);
  }
  
  p, address {
    color: #626364;
    line-height: 1.8;
  }
  
  /* Set width and height in JS */
  .placeholder {
    width: 100%;
    min-height: 460px;
    background-color: #556E5B;
  }
  
  .placeholder-2 {
    width: 100%;
    min-height: 220px;
    background-color: #CFBEA5;
    position: relative;
    z-index: 998;
  }
  
  
  
  
  
  
  .tm-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
  }
  
  .tm-header-inner {
    padding: 40px 50px;
  }
  
  @media (max-width: 991px) {
    .tm-header-inner {
      padding: 30px 15px;
    }
  }
  
  
  
  
  
  
  .tm-welcome-section {
    margin: 60px auto;
    max-width: 655px;
  }
  
  .tm-section-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .tm-gallery {
    margin-top: 20px;
    display: flex;
    align-items: center;
   
    margin-bottom: 80px;
    
  }
  
  .tm-gallery-page {
    margin-top: 20px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
  }
  
  
  
  .tm-section,
  .tm-container-inner,
  .tm-container-inner-2 {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .tm-gallery-page {
      max-width: 560px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .tm-gallery-page,
    .tm-section,
    .tm-container-inner,
    .tm-container-inner-2 {
      max-width: 840px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .tm-gallery-page,
    .tm-section {
      max-width: 1120px;
    }
    
    .tm-container-inner {
      max-width: 1120px;
    }
    
    .tm-container-inner-2 {
      max-width: 900px;
    }
  }
  
  .tm-gallery-item {
    display: flex;
    background-color:rgba(123, 194, 190, 0.651);
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 250px;
    height: 150px;
    align-items: center;
    border :5px  rgb(117, 76, 92);
    border-radius: 20px;
    
  }
  
  
  .tm-gallery-title {
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000000f6;
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  