<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>

<body style>
<div class="container">
<main>
    
    

    <!-- Gallery -->
    <div class=" tm-gallery">
        <!-- gallery page 1 -->
        <div id="tm-gallery" class="tm-gallery-page">
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                        
                    <legend>   <a routerLink="/subject">View</a></legend>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption> 
                        <h2 class="tm-gallery-title">Second Standard</h2>
                        
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h2 class="tm-gallery-title">Third Standard</h2>
                       
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
                
            </article>
            
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                        
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
             <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                          
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <figcaption>
                        <h4 class="tm-gallery-title">First Standard</h4>
                         
                       <button class="btn-success"> Rs.1500<span class="badge bg-dark ">15% OFF</span></button> 
                    </figcaption>
                </figure>
            </article>
            
            

        </div> 
    </div>
    
    
</main>
</div>
</body></html>